<form asp-action="Create" asp-controller="Application" method="post">

    Name:<input type="text" name="Name"/>
    Hours:<input type="number" name="Hours" max=40 />
    Title:<input type="text" name="Title" maxlength="40" />
    <input type="submit" />

</form>
