<div *ngFor="let e of employees; index as i">
<p>Id:{{e.id}}</p>
<p>Name:{{e.name}}</p>
<p>Hours:{{e.hours}}</p>
<p>Title:{{e.title}}</p>
<p>Assigned Task:</p>
<ul>
    <li *ngFor="let t of e.toDos">{{t.name}}</li>
</ul>
<button (click)="editEmployee(i)">Edit{{e.name}}</button>
<app-edit-employee *ngIf="e.isEditing"  [editEmployee]="e" (changed)="updateEmployee($event,i)"></app-edit-employee>

<button (click)="deleteEmployee(e.id,i)">Delete {{e.name}}</button>  
<!-- <button (click)="selectToEdit(e,i)" >Edit {{e.name}}</button>  -->

</div>

<app-add-employee (changed)="addEmployee($event)"></app-add-employee>
