<div *ngFor="let e of employees; index as i">
<p>Id:{{e.id}}</p>
<p>Name:{{e.name}}</p>
<p>Hours:{{e.hours}}</p>
<p>Title:{{e.title}}</p>
<p>Assigned Task:</p>
<ul>
    <li *ngFor="let t of e.toDos">{{t.name}}</li>
</ul>
<!-- <button (click)="editEmployee(e,i)"></button>Edit{{e.name}}</button> -->
<button (click)="deleteEmployee(e.id,i)">Delete {{e.name}}</button>  
<!-- <button (click)="selectToEdit(e,i)" >Edit {{e.name}}</button>  -->

</div>

<app-add-employee (changed)="addEmployee($event)"></app-add-employee>
