
<h2>Add animal (redirect version)</h2>
<form asp-method="post" asp-action="Add">
      <p>Enter their Id</p>
    <input type="text" name="Id" />

    <p>Enter their name</p>
    <input type="text" name="Name" />

    <p>Enter their Img</p>
    <input type="text" name="Img" />

    <p>Enter their Description</p>
    <input type="text" name="Description" />

     <p>Enter their breed</p>
    <input type="text" name="Breed" />

    <p>Enter their Age</p>
    <input type="number" name="Age" />

    <button type="submit">Add Employee</button>
</form>
