@model List<Product>
    

<h2>Which coffee product do you want to know more?</h2>
@foreach(Product p in Model)
{
   <a asp-action="DisplayDetails" asp-controller="CoffeeProducts" name="Name" asp-route-id="@p.Id">@p.Name</a><br> 
}


